
.line-chart-container {
    height: 277px;
    background-color: var(--box-color);
    border-radius: 10px;
    width: 96%;
  }

  .line-chart{
    height: 260px;

  }
  
  /* Add this just for the canvas */
  canvas#timePercentageChart {
      width: 100% !important;
      padding: 10px;
  }

  .piechart-container {
    height: 165px;
    border-radius: 10px;
    background-color: var(--box-color);
    width: 47%;
    padding: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
}



.pie-chart {
    height: 115px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas#pieChart canvas#pieChart2{
    max-width: 100%;
    max-height: 100%;
}

.last_hour{
    color: #dddddd95;
    font-weight: 200;
    font-size: 10px;
    letter-spacing: 1px;
    padding-right: 1rem;
    text-align: right;

}


