.main-img{
  width: 970px;
  height: 475px;
  margin-top: 0.7rem;
  border-radius: 10px;
  /* margin-left: 0.7rem; */
  }
  
  .position-relative {
    position: relative;
  }

  .heatmap{
  
    width: 993px;
    height: 500px;
    background-color: var(--box-color);
    border-radius: 10px;
    
  }

  
  .beta{
    position: absolute;
    top: 30px;
    height: 130px; 
    background-color: var(--beta-colo);
    border-radius: 30%; 
    box-sizing: border-box;
    border: transparent transparent;
    background-clip: padding-box;
    box-shadow: 0px 0px 25px 15px var(--btea-shadow-color);
    transform: none; 

  }

  /* CEO's */
  .CEO-beta{
    left: 800px; 
    width: 160px; 
  }

  /* Meeting room */
  .meeting_room_beta {
    left: 565px; 
    width: 210px; 
  }
  /* VP's  */
  .vp-beta{
    left: 320px; 
    width: 240px; 
  }

  /* reception */
  .reception-beta{
    top : 185px !important;
    left: 660px; 
    width:300px;
  }

  /* Software lab */
  .software-blue {
      position: absolute;
      top: 30px; 
      left: 100px; 
      width: 210px; 
      height: 130px; 
      background-color: var(--basic-color); 
      border-radius: 40%; 
      box-sizing: border-box;
      border: transparent transparent;
      background-clip: padding-box;
      box-shadow: 0px 0px 25px 15px var(--shadow-color-blue);
      transform: none;
  }
  .software-green{
      position: absolute;
      top: 33px; 
      left: 105px; 
      width: 205px; 
      height: 130px;
      background-color:var(--second-layer); 
      border-radius: 40%; 
      box-sizing: border-box;
      border: transparent transparent;
      background-clip: padding-box;
      box-shadow:  0px 0px 25px 15px var(--second-shadow-green);
      transform: none;
  }  
 .software_crowd{
      position: absolute;
      top: 45px; 
      left: 115px; 
      width: 180px; 
      height: 100px;
      background-color: var(--heavy_crowd);
      border-radius: 70% ; 
      box-sizing: border-box;
      border: transparent transparent;
      background-clip: padding-box;
      box-shadow: 0px 0px 25px 15px var(--heavy_crowd_shadow);
      animation: rectangular 5s infinite linear;
  } 

  /* lobby */
  .lobby-blue{
    position: absolute;
    top: 180px; 
    left: 100px; 
    width: 400px; 
    height: 150px; 
    background-color: var(--basic-color); 
    border-radius: 40%; 
    box-sizing: border-box;
    border: transparent transparent;
    background-clip: padding-box;
    box-shadow: 0px 0px 25px 15px var(--shadow-color-blue);
    transform: none;
  }
   .lobby-green{
    position: absolute;
    top: 180px; 
    left: 105px; 
    width: 390px; 
    height: 140px; 
    background-color:var(--second-layer); 
    border-radius: 40%; 
    box-sizing: border-box;
    border: transparent transparent;
    background-clip: padding-box;
    box-shadow:  0px 0px 25px 15px var(--second-shadow-green);
    transform: none;
  } 
  .lobby-crowd{
    position: absolute;
    top: 190px; 
    left: 115px; 
    width: 370px; 
    height: 110px; 
    background-color:var(--moderate_crowd); 
    border-radius: 40%; 
    box-sizing: border-box;
    background-clip: padding-box;
    box-shadow:  0px 0px 25px 15px var(--moderate_crowd);
    animation: rectangular 5s infinite linear;
  } 

  /* Show Room */
  .show_room-blue{
    position: absolute;
    top: 340px; 
    left: 480px; 
    width: 470px; 
    height: 140px; 
    background-color: var(--basic-color); 
    border-radius: 40%; 
    box-sizing: border-box;
    border: transparent transparent;
    background-clip: padding-box;
    box-shadow: 0px 0px 25px 15px var(--shadow-color-blue);
    transform: none;
  }
 .show_room-green{
    position: absolute;
    top: 340px; 
    left: 460px; 
    width: 480px; 
    height: 130px;
    background-color:var(--second-layer); 
    border-radius: 40%; 
    box-sizing: border-box;
    border: transparent transparent;
    background-clip: padding-box;
    box-shadow:  0px 0px 25px 15px var(--second-shadow-green);
    transform: none;
  } 
  .show_room_crowd{
    position: absolute;
    top: 360px; 
    left: 480px; 
    width: 450px; 
    height: 90px; 
    background-color: var(--heavy_crowd); 
    border-radius: 40%; 
    box-sizing: border-box;
    background-clip: padding-box;
    box-shadow:  0px 0px 25px 15px var(--heavy_crowd_shadow);
    animation: rectangular 40s infinite linear;
  } 
  
  /* Robotics_lab */
  .Robotics_lab-blue{
    position: absolute;
    top: 340px; 
    left: 100px; 
    width: 315px; 
    height:140px; 
    background-color: var(--basic-color); 
    border-radius: 30%; 
    box-sizing: border-box;
    border: transparent transparent;
    background-clip: padding-box;
    box-shadow: 0px 0px 25px 15px var(--shadow-color-blue);
    transform: none;
  }
  .Robotics_lab-green{
    position: absolute;
    top:340px; 
    left: 130px; 
    width: 290px; 
    height: 130px;
    background-color:var(--second-layer); 
    border-radius: 40%; 
    box-sizing: border-box;
    border: transparent transparent;
    background-clip: padding-box;
    box-shadow:  0px 0px 25px 15px var(--second-shadow-green);
    transform: none;
  }
  .Robotics_lab-crowd{
    position: absolute;
    top: 360px; 
    left: 160px; 
    width: 250px; 
    height: 80px;
    background-color:var(--no_crowd); 
    border-radius: 40%; 
    box-sizing: border-box;
    background-clip: padding-box;
    box-shadow:  0px 0px 25px 15px var(--no_crowd_shadow);
    animation: rectangular 20s infinite linear;
  
  }
  
  .center-projects {
    position: absolute;
    background-color: var(--body-color);
    border-radius: 10px; 
    box-sizing: border-box;
    border: transparent transparent;
    background-clip: padding-box;
    transform: none;
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 130px;
    height: 35px;
    opacity: 1; 
  }
  
  .projectName {
    color: var(--conter);
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    /* letter-spacing: -0.01em; */
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    line-height: 1.2;
  }
  
  .rate {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    color: var(--conter);
    margin: 0;
    padding: 0;
    line-height: 1.2;
    text-align: right;
  }
  .software-title{
    top: 20px; 
    left: 100px; 
    gap: 5px;
  }
  
  .vp-title{
    top: 20px; 
    left: 328px; 
    gap: 5px;
  }

  .meeting-title{
    top: 20px; 
    left: 575px; 
    gap: 5px;
  }

  .ceo-title{
    top: 20px; 
    left: 792px;
    gap: 5px; 
  }

  .reception-title{
    top: 175px; 
    left: 792px;
    gap: 5px; 
  }

  .lobby-title{
    top: 175px; 
    left: 100px; 
    gap: 5px;

  }

  .Robotics_lab-title{
    top: 330px; 
    left: 100px; 
    gap: 5px;
  }
  
  .show-room-title{
    top: 330px; 
    left: 465px; 
    gap: 5px;
  } 


