:root{
  /* ===== Colors ===== */
  --body-color: #161c2e;
  --box-color: #1C2235;
  --conter: #eceffa;
  --users: #5f0303;
  
  --text1-color: #Fff;
  --basic-color:  rgba(0, 0, 255, 0.158);
  --shadow-color-blue: rgba(0, 0, 255, 0.205);
  --beta-colo :  #36343455;

  --second-layer: #0bd4a848;
  --second-shadow-green:#08ebba25;
  --btea-shadow-color : #36343469;

  --heavy_crowd:#ff000059;
  --heavy_crowd_shadow: #ff00006b;
  --heavy_crowd_border: rgba(255, 0, 0, 0.452);

  --no_crowd: #0cac346c;
  --no_crowd_shadow: #0cac3480;
  --no_crowd_border: rgba(9, 136, 36, 0.582);

  --moderate_crowd: #fcd53773;
  --moderate_crowdc_shadow: #fcd53773;
  --moderate_crowd_border: rgba(211, 150, 17, 0.514);
  ;
}

@keyframes circle-motion {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(50px, 50px) rotate(90deg);
  }
  50% {
    transform: translate(100px, 0) rotate(180deg);
  }
  75% {
    transform: translate(50px, -50px) rotate(270deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}



@keyframes rotate-around-center {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@keyframes rectangular {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}


    
  
  body{
    margin: 0 0 0 0.6rem!important; 
    background-color: var(--body-color) !important;
    min-height: 100vh; /* New line added */
  
  }


  .qssLogo{
    width:200px;
     margin: 0.5rem;
}

.qssAiLogo{
  width:190px;
 margin: 0.5rem;
}

.tit{
  color: var(--text1-color);
  font-family: 'Arial', sans-serif; /* Change this to your desired font */
  font-weight: 600; 
  font-size: 25px;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.custom-4{
  width: 36% !important;
}

.custom-8{
  width: 63% !important;
}

.custom-5{
 width: 47% !important;
}
.tit-traffic{
  color: var(--text1-color);
  font-family: 600;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 12px;

}

.img-traffic{
  width: 40px;
  margin-right: 10px;

}

.custom-flex-container {
  display: flex;
  align-items: center;
}

.last-seen{
  height: 285px;
  border-radius: 10px;
  background-color: var(--box-color);
  width: 96.5%;
  margin-left: 0.5rem;
}

.last-seen-tit{
  color: var(--text1-color);
  font-weight: 400;
  border-bottom: 2px solid var(--body-color); 
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 0.2rem;
}

.face-data{
  height: 255px;
  box-sizing: border-box !important;
  background-clip: padding-box !important; 
  overflow-y: auto ; 
}

.face-data::-webkit-scrollbar {
  width: 10px; 
}

.face-data::-webkit-scrollbar-track {
  background: #DDD; 
  border-radius: 5px;
}

.face-data::-webkit-scrollbar-thumb {
  background:rgb(169, 222, 226); 
  border-radius: 5px; 
}

.face-data::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

.face-data-container{
  border-radius: 10px;
  background-color: var(--body-color);
}

.face-img{
  width: 60px;
  height: 60px;
  border-radius: 65%;
  margin-top: 0.5rem;
}

.personName{
  color: var(--text1-color);
  font-family: 600;
  font-size: 12px;
  letter-spacing: 1px;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.person-info{
  margin-left: 0.3rem;
}

.personPosi{
  color: var(--text1-color);
  font-family: 600;
  font-size: 10px;
  letter-spacing: 0.5px;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.BWlist{
  color: var(--conter);
  font-family: 600;
  font-size: 10px;
  letter-spacing: 0.5px;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.icon{
  margin-top: 2rem;
}

.stream{
  height: 390px;
  width: 100% !important;
  border-radius: 10px;
  background-color: var(--body-color);
  /* margin-right: 0.5rem;
  margin-bottom: 0.5rem; */
}

.cam{
  height: 370px !important;
  width: 430px !important;
}

.camer-tit{
 color: #DDD;
 font-size: 13px;
 padding-bottom: 0.5rem !important;
 margin-bottom: 0 !important;
}



.streams-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.streams5 {
  height: 228px;
  border-radius: 10px;
  background-color: var(--box-color);
  width: 24% !important;
  position: relative;
  overflow: hidden;
}

.camera-container {
  width: 95%;
  height: 93%;
  /* position: relative; */
 
  
}

canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px !important;
  /* min-width: 640px;
  min-height: 360px; */
  
}

.camera-label {
  position: absolute;
  top: 10px;
  left: 10px;
  /* background: rgba(0, 0, 0, 0.7); */
  background: var(--body-color);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  color: var(--text1-color);
  font-family: 600;
  font-size: 10px;
  letter-spacing: 1px;
  z-index: 1;
}

.status {
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* background: rgba(0, 0, 0, 0.8); */
  background: var(--heavy_crowd);
  color: white;
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
}

@media (max-width: 1200px) {
  .streams5 {
      width: 48% !important;
  }
}

@media (max-width: 768px) {
  .streams5 {
      width: 100% !important;
  }
}

