.position-relative {
    position: relative;
  }
.Drons-blue {
    position: absolute;
    top: 30px; 
    left: 50px; 
    width: 320px; 
    height: 240px; 
    background-color: var(--basic-color); 
    border-radius: 30%; 
    box-sizing: border-box;
    border: transparent transparent;
    background-clip: padding-box;
    box-shadow: 0px 0px 25px 15px var(--shadow-color-blue);
    transform: none;
}
.Drons-green{
    position: absolute;
    top: 33px; 
    left: 55px; 
    width: 310px; 
    height: 230px;
    background-color:var(--second-layer); 
    border-radius: 30%; 
    box-sizing: border-box;
    border: transparent transparent;
    background-clip: padding-box;
    box-shadow:  0px 0px 25px 15px var(--second-shadow-green);
    transform: none;
}  
.Drons_crowd{
    position: absolute;
    top: 45px; 
    left: 65px; 
    width: 280px; 
    height: 200px;
    background-color: var(--heavy_crowd);
    border-radius: 30% ; 
    box-sizing: border-box;
    border: transparent transparent;
    background-clip: padding-box;
    box-shadow: 0px 0px 25px 15px var(--heavy_crowd_shadow);
    animation: rectangular 5s infinite linear;
} 

/* barns */
.barns-blue{
  position: absolute;
  top: 20px; 
  left: 400px; 
  width: 900px; 
  height: 150px;  
  background-color: var(--basic-color); 
  border-radius: 30%; 
  box-sizing: border-box;
  border: transparent transparent;
  background-clip: padding-box;
  box-shadow: 0px 0px 25px 15px var(--shadow-color-blue);
  transform: none;
}
 .barns-green{
  position: absolute;
  top: 23px; 
  left: 420px; 
  width: 830px; 
  height: 150px; 
  background-color:var(--second-layer); 
  border-radius: 30%; 
  box-sizing: border-box;
  border: transparent transparent;
  background-clip: padding-box;
  box-shadow:  0px 0px 25px 15px var(--second-shadow-green);
  transform: none;
} 
.barns-crowd{
  position: absolute;
  top: 25px; 
  left: 440px; 
  width: 790px; 
  height: 145px; 
  background-color:var(--moderate_crowd); 
  border-radius: 30%; 
  box-sizing: border-box;
  background-clip: padding-box;
  box-shadow:  0px 0px 25px 15px var(--moderate_crowd);
  animation: rectangular 5s infinite linear;
} 

/* Show Room */
.Humanoid-blue{
    position: absolute;
    top: 370px; 
    left: 400px; 
    width: 730px; 
    height: 150px;  
    background-color: var(--basic-color); 
    border-radius: 20%; 
    box-sizing: border-box;
    border: transparent transparent;
    background-clip: padding-box;
    box-shadow: 0px 0px 25px 15px var(--shadow-color-blue);
    transform: none;
}
.Humanoid-green{
    position: absolute;
    top: 370px; 
    left: 420px; 
    width: 690px; 
    height: 150px; 
    background-color:var(--second-layer); 
    border-radius: 20%; 
    box-sizing: border-box;
    border: transparent transparent;
    background-clip: padding-box;
    box-shadow:  0px 0px 25px 15px var(--second-shadow-green);
    transform: none;
} 
.Humanoid_crowd{
    position: absolute;
    top: 400px; 
    left: 440px; 
  width: 650px; 
  height: 105px; 
    background-color: var(--heavy_crowd);
    border-radius: 20%; 
    box-sizing: border-box;
    background-clip: padding-box;
    box-shadow: 0px 0px 25px 15px var(--heavy_crowd_shadow);
    animation: rectangular 5s infinite linear;
} 

/* amr */
.amr-blue{
  position: absolute;
  top: 310px; 
  left: 50px; 
  width: 320px; 
  height: 230px;  
  background-color: var(--basic-color); 
  border-radius: 30%; 
  box-sizing: border-box;
  border: transparent transparent;
  background-clip: padding-box;
  box-shadow: 0px 0px 25px 15px var(--shadow-color-blue);
  transform: none;
}
.amr-green{
  position: absolute;
  top:310px; 
  left: 55px; 
  width: 310px; 
  height: 230px;
  background-color:var(--second-layer); 
  border-radius: 40%; 
  box-sizing: border-box;
  border: transparent transparent;
  background-clip: padding-box;
  box-shadow:  0px 0px 25px 15px var(--second-shadow-green);
  transform: none;
}
.amr-crowd{
  position: absolute;
  top: 330px; 
  left: 65px; 
  width: 300px; 
  height: 200px;
  background-color:var(--no_crowd); 
  border-radius: 40%; 
  box-sizing: border-box;
  background-clip: padding-box;
  box-shadow:  0px 0px 25px 15px var(--no_crowd_shadow);
  animation: rectangular 20s infinite linear;

}

.center-projects {
  position: absolute;
  background-color: var(--body-color);
  border-radius: 10px; 
  box-sizing: border-box;
  border: transparent transparent;
  background-clip: padding-box;
  transform: none;
  display: flex; 
  justify-content: center;
  align-items: center; 
  width: 230px;
  height: 35px;
  opacity: 1; 
}

.projectName {
  color: var(--conter);
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  /* letter-spacing: -0.01em; */
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.rate {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  color: var(--conter);
  margin: 0;
  padding: 0;
  line-height: 1.2;
  text-align: right;
}
.Drons-title{
  top: 20px; 
  left: 50px; 
  gap: 5px;
}

.barns-title{
  top: 20px; 
  left: 450px; 
  gap: 5px;

}

.amr-title{
  top: 300px; 
  left: 50px; 
  gap: 5px;
}

.Humanoid-title{
  top: 370px; 
  left: 450px; 
  gap: 5px;
} 

.catwalk-blue {
  position: absolute;
  top: 30px; 
  left: 1250px; 
  width: 350px; 
  height: 500px; 
  background-color: var(--basic-color); 
  border-radius: 30%; 
  box-sizing: border-box;
  border: transparent transparent;
  background-clip: padding-box;
  box-shadow: 0px 0px 25px 15px var(--shadow-color-blue);
  transform: none;
}
.catwalk-green{
  position: absolute;
  top: 38px; 
  left: 1260px; 
  width: 320px; 
  height: 490px;
  background-color:var(--second-layer); 
  border-radius: 30%; 
  box-sizing: border-box;
  border: transparent transparent;
  background-clip: padding-box;
  box-shadow:  0px 0px 25px 15px var(--second-shadow-green);
  transform: none;
}  

.catwalk-crowd{
  position: absolute;
  top: 45px; 
  left: 1290px; 
  width: 260px; 
  height: 450px;
  background-color: var(--heavy_crowd);
  border-radius: 30% ; 
  box-sizing: border-box;
  border: transparent transparent;
  background-clip: padding-box;
  box-shadow: 0px 0px 25px 15px var(--heavy_crowd_shadow);
  animation: rectangular 5s infinite linear;
} 

.catwalk-title{
  top: 20px; 
  left: 1300px; 
  gap: 5px;
}